html,body {
    height: 100%;
    width: 100%;
}
body {
    background-image:("/imagenes/Hotele.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.a1{
    text-align: center;
    width: auto;
}